.DS_Store
.idea/
*.iml
node_modules
npm-debug.log
*.sublime-project
*.sublime-workspace
.vs

bin/
obj/
*.user

*.pem
*.key
*.crt
apache/certs/
mongodb-certs/

keycloak_data/
vault/file/
vault/logs/

.env
credenziali_user.txt
cert.json
unseal.bat  

*.exe
vault.exe